<%= page = 10 %>

<div class='header'>
	<h1>Sources</h1>
</div>

<div class="body bibliographie">
	<div class="separator"></div>
	<h2>Bibliographie</h2>
	<div class="separator"></div>
	<h2>Sites web:</h2>
	<p>
		ADEPA. [en ligne]. Association ADEPA, 2017, [consulté le 12 février 2017] Disponible sur : <a href="http://www.adepa.fr">http://www.adepa.fr</a>
 		<br><br>
        My Handicap. [en ligne]. Texte de MHA, 1/2011 et traduction de MyH, 10/2012, [consulté le 26 novembre 2016] Disponible sur : <a href="https://www.myhandicap.ch">https://www.myhandicap.ch</a>
<br><br> 		
        UNICEF. [en ligne]. Unicef Thomas, 24 novembre 2004 [consulté le 28 janvier 2017] Disponible sur : <a href="https://www.unicef.org">https://www.unicef.org</a>
<br><br> 
        Planète Santé. [en ligne]. Médecine et Hygiène, dernière mise à jour le 12/07/2016, [consulté le 19 décembre 2016] Disponible sur : <a href="https://www.planetesante.ch">https://www.planetesante.ch</a>
<br><br> 
        Handicoupé sport. [en ligne]. Inconnu, dernière mise à jour le 5 février 2015, [consulté le 20 décembre 2016] Disponible sur : <a href="http://www.handicoupe.com">http://www.handicoupe.com</a>
<br><br> 
        Site du cabinet de Médecine Vasculaire du Docteur Christian MOUGEOLLE. [en ligne], 2001, [consulté le 29 décembre 2016] Disponible sur : <a href="http://christian.mougeolle.free.fr">http://christian.mougeolle.free.fr</a>
<br><br> 
        Encyclopédie internationale multilingue de la réadaptation, Les agénésies et les amputations. [en ligne]. Dr. Jean-Michel Bruandet, 2008, [consulté le 19 novembre 2016] Disponible sur : <a href="http://cirrie.buffalo.edu/encyclopedia/fr/article/342/">http://cirrie.buffalo.edu/encyclopedia/fr/article/342/</a>
<br> <br>
        NCBI, [En ligne]. W. Yinusa, M.E. Ugbeye, 23 janvier 2003. [consulté le 12 février 2017] Disponible sur : <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3460656/pdf/264_2003_Article_421.pdf">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3460656/pdf/264_2003_Article_421.pdf</a>
<br><br> 
        Radio Canada. [en ligne]. Edition Grand Montréal, Danielle Beaudoin, 1 avril 2016, [consulté le 12 février 2017] Disponible sur : <a href="http://ici.radio-canada.ca">http://ici.radio-canada.ca</a>
<br><br> 
       	La Dépêche. [en ligne]. Inconnu, 5 aout 2014, [consulté le 29 décembre 2016] Disponible sur : <a href="http://www.ladepeche.fr">http://www.ladepeche.fr</a>
<br> <br>
		Campus MPR [en ligne]. COFERMER, [consulté le 8 janvier 2017]. Disponible sur : <a href="http://campus-mpr.univ-lyon1.fr/webapp/wiki/wiki.html?id=1605396">http://campus-mpr.univ-lyon1.fr/webapp/wiki/wiki.html?id=1605396</a>
<br> <br>
		ADEPA [en ligne], association ADEPA, 2017 [consulté le 8 janvier 2017]. Disponible sur : <a href="https://www.adepa.fr/protheses/les-emboitures/">https://www.adepa.fr/protheses/les-emboitures/</a>
<br><br>
		Le Figaro [en ligne]. Jean-Marc Gonin, publié le 10 Août 2012, [consulté le 7 janvier 2017]. Disponible sur : <a href="http://www.lefigaro.fr/lefigaromagazine/2012/08/10/01006-20120810ARTFIG00347-les-trente-ans-de-handicap-international-au-cambodge.php">http://www.lefigaro.fr/lefigaromagazine/2012/08/10/01006-20120810ARTFIG00347-les-trente-ans-de-handicap-international-au-cambodge.php</a>
<br><br>
		WE demain [en ligne]. Lara Charmeil, Publié le 8 Décembre 2015 [consulté le 7 janvier 2017]. Disponible sur : <a href="https://www.wedemain.fr/Ils-creent-une-prothese-a-80-dollars-pour-faire-remarcher-des-millions-de-handicapes_a1522.html">https://www.wedemain.fr/Ils-creent-une-prothese-a-80-dollars-pour-faire-remarcher-des-millions-de-handicapes_a1522.html</a>
<br><br>
		The Low Cost Prothesis [en ligne], 2012 [consulté le 7 janvier 2017]. Disponible sur : <a href="http://www.lowcostprosthesis.org/">http://www.lowcostprosthesis.org/</a>
<br><br>
		Mukti India [en ligne] M.S.DASHA FOUNDATION, 2002, [consulté  le 7 janvier 2017]. Disponible sur : <a href="http://www.muktiindia.org">http://www.muktiindia.org</a>
<br><br>
		Limbs International [en ligne]. Limbs team, 2016, [consulté le 8 janvier 2017]. Disponible sur : <a href="https://www.limbsinternational.org/">https://www.limbsinternational.org/</a>
<br><br>
		D-Rev [en ligne]. D-Rev team, 2010, [consulté le 8 janvier 2017]. Disponible sur : <a href="http://d-rev.org/projects/mobility/">http://d-rev.org/projects/mobility/</a>
<br><br>
		Bagnarosa [en ligne] BOP TECHNOLOGIES, 2011, [consulté le 8 janvier 2017]. Disponible sur : <a href="http://www.bagnarosa.fr/prothese-jambe">http://www.bagnarosa.fr/prothese-jambe</a>
<br><br>
		ISPO-France [en ligne] ISPO France, 2016, [consulté le 20 novembre 2016]. Disponible sur : <a href="http://www.ispo-france.com/contenu-adherent-etude-therapeutique.php">http://www.ispo-france.com/contenu-adherent-etude-therapeutique.php</a>
<br><br>
		Ooreka [en ligne] Fine Media, 2016, [consulté le 23 janvier 2017]. Disponible sur : <a href="https://prothese.ooreka.fr/comprendre/prix-prothese">https://prothese.ooreka.fr/comprendre/prix-prothese</a>
<br><br>
		Humanoides [en ligne] Humanoide team, 2016, [consulté le 19 novembre 2016]. Disponible sur : <a href="https://humanoides.fr/prothese-ossur-une-jambe-bionique-controlee-par-la-pensee/">https://humanoides.fr/prothese-ossur-une-jambe-bionique-controlee-par-la-pensee/</a>
<br><br>
		Sciences et Avenir [en ligne] Marc Gozlan, 2013, [consulté le 19 novembre 2016]. Disponible sur : <a href="https://www.sciencesetavenir.fr/sante/une-jambe-bionique-commandee-par-la-pensee_13044">https://www.sciencesetavenir.fr/sante/une-jambe-bionique-commandee-par-la-pensee_13044</a>
<br><br>
		Rédacteur de Sciences et Avenir (inconnu) 2015, [consulté le 19 novembre 2016] Disponible sur : <a href="https://www.sciencesetavenir.fr/sante/la-prothese-du-futur-existe-deja-et-elle-rend-le-sens-du-toucher_29475">https://www.sciencesetavenir.fr/sante/la-prothese-du-futur-existe-deja-et-elle-rend-le-sens-du-toucher_29475</a>
<br><br>
		PRIMANTE3D [en ligne] M Alexandre Moussion, 2017,(consulté le 22 janvier 2017). Disponible sur : <a href="http://www.primante3d.com/principe/">http://www.primante3d.com/principe/</a>
<br><br>
		MonUnivers3D [en ligne] François Mathieu, 2017,(consulté le 22 janvier 2017). Disponible sur : <a href="http://www.monunivers3d.com/guide/fonctionnement/">http://www.monunivers3d.com/guide/fonctionnement/</a>
<br><br>
		La Croix [En ligne] Denis Sergent, 2013, [consulté le  21 octobre 2016]. Disponible sur : <a href="http://www.la-croix.com/Ethique/Sciences-Ethique/Sciences/L-etonnante-histoire-des-protheses-2013-11-18-1062265">http://www.la-croix.com/Ethique/Sciences-Ethique/Sciences/L-etonnante-histoire-des-protheses-2013-11-18-1062265</a>
<br><br>
		Handicoupé [En ligne] Tythoo, 2015, [consulté le  21 octobre 2016]. Disponible sur : <a href="http://www.handicoupe.com/Prothese/p_hist.htm">http://www.handicoupe.com/Prothese/p_hist.htm</a>
<br><br>
		Institut National des Invalides [Document PDF en ligne], CERAH, 2014, [consulté le  21 octobre 2016]. Disponible sur : <a href="http://cerahtec.invalides.fr/doc/actes14-06-12/G-Pascale_FODE.pdf">http://cerahtec.invalides.fr/doc/actes14-06-12/G-Pascale_FODE.pdf</a>
<br><br>
		Oandp, [En ligne]. Erin Strait, 2006 [consulté en novembre 2016]. Disponible sur: <a href="http://www.oandp.org/publications/resident/pdf/DevelopingCountries.pdf">http://www.oandp.org/publications/resident/pdf/DevelopingCountries.pdf</a>
<br><br> 
        WHO, [En ligne]. Organisation Mondiale de la Santé, 2016 [consulté en novembre 2016]. Disponible sur: <a href="www.who.int/fr">www.who.int/fr</a>
<br><br>
        Unicef, [En ligne]. Unicef Afghanistan, 2016 [consulté en décembre 2016]. Disponible sur: <a href="https://www.unicef.org/afghanistan">https://www.unicef.org/afghanistan</a>
<br><br> 
        The Guardian,  [En ligne]. Larry Elliott, janvier 2016 [consulté en novembre 2016]. Disponible sur: <a href="https://www.theguardian.com/business/2016/jan/18/richest-62-billionaires-wealthy-half-world-population-combined">https://www.theguardian.com/business/2016/jan/18/richest-62-billionaires-wealthy-half-world-population-combined</a>
<br><br> 
        TIFWE, [En ligne]. Dr. Anne Bradley, Juin 2012 [consulté en décembre 2016]. Disponible sur: <a href="https://tifwe.org/resource/part-one/">https://tifwe.org/resource/part-one/</a>
<br><br> 
        Safeneedle, [En ligne]. Safeneedle.org, 2010  [consulté en décembre 2016]. Disponible sur: <a href="http://safeneedle.org/articles/used-needles-are-causing-a-health-crisis-in-india/">http://safeneedle.org/articles/used-needles-are-causing-a-health-crisis-in-india/</a>
<br><br> 
        NCBI, [En ligne]. W. Yinusa, M.E. Ugbeye, janvier 2003 [consulté en décembre 2016]. Disponible sur: <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3460656/pdf/264_2003_Article_421.pdf">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3460656/pdf/264_2003_Article_421.pdf</a>
<br><br> 
        Victoria Hand Project, [En ligne]. Victoria Hand Project, 2016 [consulté en janvier 2017]. Disponible sur: <a href="https://www.victoriahandproject.com/">https://www.victoriahandproject.com/</a>
<br><br> 
        My Human Kit, [En ligne]. My Human Kit, 2017 [consulté en janvier 2017]. Disponible sur: <a href="http://myhumankit.org">http://myhumankit.org/</a>
<br><br> 
		Afghanistan Living Conditions Survey, [En ligne]. Central Statistical Organisation of Afghanistan, ICON INSTITUT, Union Européenne, 2014 [consulté en janvier 2017]. Disponible sur: <a href="http://www.cso.gov.af/Content/files/ALCS%202014%20Half-year%20Report%20-%20141208%20BdB.pdf">http://www.cso.gov.af/Content/files/ALCS%202014%20Half-year%20Report%20-%20141208%20BdB.pdf</a> 
<br><br>
		<span class="plus">Image sur la page d’accueil :</span>
<br><br> 
		CBM, [En ligne]. CBM, avril 2014 [consulté en janvier 2017]. Disponible sur: <a href="http://www.cbm-nz.org.nz/index.php/news/156-when-laxmi-kicked-a-ball">http://www.cbm-nz.org.nz/index.php/news/156-when-laxmi-kicked-a-ball</a>

	</p>
</div>

<div class="pager">
	<a class="previous" href="/synthese/3"></a>
</div>