<%= page = 10 %>

<div class='header'>
	<h1>Sources</h1>
</div>

<div class="body">
	<div class="separator"></div>
	<h2>Bibliographie</h2>
	<div class="separator"></div>
</div>

<div class="pager">
	<a class="previous" href="/synthese/3"></a>
</div>