<div class='image'>

</div>

<div class="mask">
	<div>
		<span>Bienvenue sur notre site!</span>
		<p>Nous avons étudié les prothèses et nous nous sommes intéréssés aux problèmes liés à leur accès dans le monde.</p>
		<a href="/intro"><button>Découvrir le TPE</button></a>
	</div>
</div>

