<%= page = 6 %>

<div class='header'>
	<h1>Lexique</h1>
</div>

<div class="body">

<p>
<span class="bold">Etiologie :</span> en médecine, l'étude des causes et des facteurs d'une maladie
</p>
<p>
<span class="bold">Distal/e :</span> partie d'un organe qui est la plus éloignée du centre du corps, ou segment d‘ un
membre qui est le plus éloigné de la racine de ce membre
</p>
<p>
<span class="bold">Ostéosarcome :</span> tumeur primitive de l'os (pas une métastase) caractérisée par une
production anormale de cellules osseuses (ostéoblastes) depuis la moelle osseuse,
l'intérieur de l'os ou la membrane qui entoure l'os
</p>
<p>
<span class="bold">Chondrosarcome :</span> tumeur maligne constituée de tissu de nature cartilagineuse et
d'éléments embryonnaires (issus de l'embryon)
</p>
<p>
<span class="bold">Sarcome d'Ewing :</span> tumeur osseuse à petites cellules rondes, maligne et à fort potentiel
métastatique
</p>
<p>
<span class="bold">Suppuration :</span> terme de pathologie désignant la formation ou l'écoulement du pus
</p>
<p>
<span class="bold">Garroter :</span> serrer assez fort le membre avec une sangle pour que l'artère soit comprimée au
point de ne plus laisser sortir le sang
</p>
<p>
<span class="bold">Drain de Redon :</span> tube de matière souple, composé de plastique ou de silicone, percé par
de nombreux trous dans une partie de sa paroi, qui est placé au niveau de la région opérée
après une intervention chirurgicale et qui est destiné à assurer un drainage de matières par
aspiration, du corps vers l'extérieur favorisant ainsi la cicatrisation du site opératoire
</p>
<p>
<span class="bold">Névrome :</span> tumeur constituée de fibres nerveuses plus ou moins anormales, contenant ou
pas de la myéline, d'origine congénitale (en dehors d'une variété de neurinome : le neurone
d'amputation)
</p>
<p>
<span class="bold">Troubles trophiques :</span> problèmes liés à une mauvaise nutrition des organes en raison d'une
mauvaise vascularisation ou d'un mauvais contrôle neurologiques de cette nutrition
</p>
<p>
<span class="bold">Myoélectrique :</span> Qui se rapporte à la force électromotrice créée par un muscle lorsqu’il est
en état de contraction
</p>
<br>
	<div class="separator large"></div>
	<br>
</div>

<div class="pager">
	<a class="next" href="/presentation"></a>
	<% if (page > 1) %>
		<a class="previous" href="/conclusion"></a>
	<% end %>
</div>