<%= page = 6 %>

<div class='header'>
	<h1>Le groupe</h1>
</div>

<div class="body">
	<div class="separator"></div>
	<h2>Présentation</h2>
	<div class="separator"></div>

	<div class="img"></div>
	<p>

	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ex tellus, feugiat in imperdiet quis, sagittis sagittis orci. Proin maximus, ante sed dignissim faucibus, ex eros scelerisque risus, quis gravida justo diam sit amet dui. Praesent non porttitor tellus. Phasellus auctor venenatis pretium. Maecenas eget erat in nunc hendrerit lobortis. Mauris vitae turpis pretium, pellentesque nisi vitae, rhoncus diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
	</p><p>
	Mauris congue est sit amet eros iaculis, sed bibendum sem fringilla. Nulla sed sapien feugiat, rhoncus diam ac, tempus tortor. Quisque ullamcorper tincidunt volutpat. Curabitur blandit quis lacus in convallis. Ut vestibulum nibh eget porttitor semper. Fusce pharetra, lectus eu iaculis consequat, sem urna aliquam magna, in placerat diam ante et nibh. Ut sit amet consectetur odio, id porttitor erat. Quisque accumsan dapibus porta. Maecenas in consequat diam, a viverra purus.
	</p><p>
	Nulla lobortis tincidunt erat, sed aliquam magna tempus a. Etiam sagittis convallis turpis, in ullamcorper mauris euismod et. In elementum odio nibh, vitae imperdiet felis sollicitudin dictum. Aliquam mattis nisi laoreet posuere feugiat. Donec magna ante, commodo quis enim sed, mollis sagittis quam. Phasellus ac mollis est. Sed at dolor in massa maximus condimentum. Vestibulum vehicula rutrum tellus ac sodales. Vivamus nec feugiat ante. Nam rutrum mi eget augue suscipit, a sollicitudin tortor aliquet. Pellentesque vulputate purus sit amet ligula volutpat finibus. Aliquam fringilla nisl sem, vitae hendrerit dui ullamcorper at. In blandit at lectus sed elementum. Nam ac mauris ligula. Pellentesque at mi vel tellus blandit pellentesque eget ut erat. In pellentesque augue eros.
	</p>
	<p>
	Quisque venenatis quam vel sem sodales, tempor commodo metus rhoncus. Praesent eu nisl vel mi imperdiet euismod sit amet a sapien. Nulla facilisi. Proin eget blandit enim. Phasellus fringilla molestie urna sit amet fermentum. Proin scelerisque dolor in leo pharetra blandit. Mauris sollicitudin sapien erat. Morbi et orci sagittis, tempor ante quis, semper metus. Aliquam erat volutpat. Cras eleifend ipsum ac risus maximus tincidunt. Duis mattis sem ultrices scelerisque rutrum. Nullam tempus diam id erat sagittis, eget tempor libero venenatis. Duis mattis a enim sed scelerisque. Aenean suscipit enim ut sapien hendrerit placerat. Nunc elementum porta sapien, ac tincidunt eros fringilla sed. Etiam mauris lectus, viverra vel elementum id, porta ut odio.
	</p><p>
	Aliquam nec odio efficitur, bibendum purus non, aliquet enim. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam dui velit, facilisis quis turpis ut, condimentum lobortis magna. Maecenas erat mauris, feugiat et efficitur id, tincidunt at tortor. Donec non tellus sed risus finibus finibus sit amet nec metus. In dictum, nulla nec ultrices sollicitudin, est nibh efficitur metus, ut tempus arcu odio id lacus. Nunc quam sapien, tristique a ultricies non, rhoncus nec odio. Mauris finibus velit non sapien pharetra hendrerit. Phasellus euismod rhoncus nulla, a sodales felis ultrices sit amet. In hac habitasse platea dictumst. Morbi quis felis finibus, efficitur lacus eget, feugiat felis. Mauris eu nisi ut nisi consectetur faucibus sit amet a tortor. Nam sit amet tellus eu lacus feugiat pharetra ut ac tortor. Integer sit amet pharetra justo. Nullam et libero elementum, sagittis urna vitae, euismod sem.
 
	</p>
	<br>
	<div class="separator large"></div>
	<br>
</div>

<div class="pager">
	<a class="next" href="/synthese/1"></a>
	<a class="previous" href="/conclusion"></a>
</div>