<%= page = 6 %>

<div class='header'>
	<h1>Le groupe</h1>
</div>

<div class="body">
	<div class="separator"></div>
	<h2>Présentation</h2>
	<div class="separator"></div>

	<div class="img"></div>
	<p>

	Bonjour ! Nous sommes trois élèves de première S à l'Institution Saint Joseph du Havre : <a href="/synthese/1">Romane Carpentier</a>, <a href="/synthese/2">Louise Giletta</a> et <a href="/synthese/3">Diego Vurgait</a>.
 
	</p>
	<br>
	<div class="separator large"></div>
	<br>
</div>

<div class="pager">
	<a class="next" href="/synthese/1"></a>
	<a class="previous" href="/lexique"></a>
</div>