<%= page = 7 %>

<div class='header'>
	<h1>Syntheses personnelles</h1>
</div>

<div class="body">
	<div class="separator"></div>
	<h2>Romane Carpentier</h2>
	<div class="separator"></div>
	<p>
	Cette année, comme tous les élèves de première du lycée Saint Joseph, j’ai fait la découverte des travaux personnels encadrés (TPE). En effet, cette épreuve consiste à mener à bien une réalisation concrète répondant à une problématique d’un thème choisi alliant deux matières, dans notre cas l’histoire/géographie et la SVT. La première chose que nous avons dû faire a été de former les groupes. Pour ma part, je me suis très rapidement associé avec Diego Vurgait et Louise Gilletta avec laquelle nous avions déjà travaillé pour le brevet des collèges. Ensuite, il fallut trouver un thème puis un sujet et enfin une problématique répondant avec précision au sujet.
	</p>
 	<p>
	Nous avons donc commencé à chercher un sujet parmi les différents thèmes proposés et nous avons remarqué que les prothèses bioniques nous intéressaient beaucoup. Cependant, les matières que nous avions ne nous permettaient pas de traiter ce sujet-là. C’est pourquoi nous avons dû trouver un moyen d’associer les prothèses avec l’histoire/géographie, nous permettant ainsi de nous démarquer des autres groupes ayant choisi ce sujet très prisé. C’est donc en cherchant des informations sur les prothèses que nous avons remarqué les écarts d’accès entre les pays développés et ceux en développement, alors que la majorité des personnes nécessitant une prothèse se trouve dans ces pays disposant de plus faibles moyens. Après un certain temps de recherches et grâce à cette observation, nous avons décidé de traiter les inégalités d’accès liées aux prothèses dans le monde, un sujet intéressant et d’actualité. <br>
	Pour la problématique, nous avons donc trouvé une question qui nous permettait de comprendre l’origine de ces inégalités face aux prothèses mais aussi, et ce qui est pour nous le plus important, de penser aux perspectives futures et aux progrès qui pourront être réalisés. Pour cela, nous nous sommes répartis le travail. Tout d’abord je me suis intéressée à l’amputation et à ses causes nécessitant ainsi le port d’une prothèse, puis Louise a étudié les différents types de prothèses dans le monde et enfin Diego s’est intéressé aux inégalités socio-économiques à l’origine des écarts d’accès dans le monde. <br>
	Tout au long de notre TPE, la cohésion du groupe et l’entente chaleureuse ont permis selon moi une bonne organisation. Après avoir fait ce travail de répartition, le travail fut simple. La majorité des recherches se sont donc déroulées chez soi et les séances de TPE étaient principalement dédiées à la mise en commun du travail et aux questions aux professeurs référents. De plus, nous nous sommes régulièrement retrouvés à la médiathèque du lycée mais aussi à la bibliothèque municipale afin de voir l’avancée du travail. <br>
	Toutefois, nous avons rencontré quelques difficultés notamment pour trouver le sujet exact de notre TPE ainsi que la formulation de la problématique. Pour finir, comme beaucoup, nous avons été confrontés au problème de gestion du temps. Après avoir passé la majorité de notre temps imparti aux TPE à collecter des informations ou discuter de notre plan, il s’est avéré que la rédaction du dossier fut plus longue que prévue. Il faut aussi ajouter à cela la préparation de la présentation orale. En définitive quelques semaines supplémentaires n'auraient pas été superflues.
 	</p>
 	<p>
    Pour finir, je suis très contente du travail que nous avons effectué lors de ce TPE car c’est avec plaisir et dans une bonne ambiance que nous avons travaillé. De plus, cette expérience a été très enrichissante car j’ai pu développer mes connaissances sur les prothèses mais aussi me rendre compte de la société dans laquelle nous vivons. Grâce à cette nouvelle forme de travail et de recherche, j’ai pu gagner en confiance en moi, en efficacité et en autonomie.
	</p>
	<br>
	<div class="separator large"></div>
	<br>
</div>

<div class="pager">
	<a class="next" href="/synthese/2"></a>
	<a class="previous" href="/presentation"></a>
</div>