<%= page = 9 %>

<div class='header'>
	<h1>Syntheses personnelles</h1>
</div>

<div class="body">
	<div class="separator"></div>
	<h2>Diego Vurgait</h2>
	<div class="separator"></div>
	<p>
	Lors de la première séance de TPE, j’ai découvert cette nouvelle activité que je ne connaissais pas avant, comme beaucoup de mes camarades de classe. Les professeurs nous ont expliqué qu’en une période de quelques mois (fin octobre - fin février) nous allions devoir mener des recherches en petits groupes, de deux ou trois personnes, sur un sujet de notre choix alliant l’Histoire-Géographie et la SVT afin de répondre à une problématique. Lors de cette première séance Romane Carpentier, Louise Giletta et moi avons formé un groupe et nous sommes mis à la recherche d’idées.
	</p>
	<p>
	Au début, on était sceptiques à l’idée de concilier deux matières sans rapport à première vue. Nous avons continué à chercher et nous sommes intéressés notamment aux prothèses ainsi qu’aux nanotechnologies, toutes deux moyens de soigner voire augmenter les capacités de l’Homme. Après avoir commencé une première phase de recherche personnelle, nous avons mis en commun nos résultats et avons trouvé une piste de recherche qu’on voulait suivre. On avait réalisé que seulement une part très réduite (bien plus petite que ce à quoi on s’attendait) des amputés dans le monde avait accès aux prothèses, alors nous avons voulu savoir pourquoi. Nous avons alors trouvé que la distribution des amputés dans le monde était très inégale : la grande majorité des amputés vivaient dans des pays du tiers monde. C’étaient donc des barrières économique et géographique qui maintenaient la part des amputés équipés de prothèses très petite. C’est alors que nous avons décidé de baser nos recherches sur ce problème et de nous demander si on pourra, un jour, réduire ces inégalités d’accès liées à l’accès aux prothèses dans le monde.
	</p>
	<p>
	Ensuite, pour répondre à notre problématique, nous avons établi un plan de recherche : tout d’abord, on devait étudier l’amputation et ses causes, ensuite il nous fallait faire une recherche sur les prothèses en elles mêmes et leurs différentes formes dans les différents pays, et enfin, on devait s’intéresser aux effets que les inégalités socio-économiques ont sur l’accès aux soins et aux prothèses. Nous nous sommes réparti le travail en parties : Romane s’est occupé de faire les recherches sur l’amputation, Louise des recherches sur les prothèses et moi sur les inégalités socio-économiques. 
	</p>
	<p>
	Ainsi, nous nous sommes retrouvés régulièrement soit à la médiathèque de notre lycée, soit à la bibliothèque municipale afin de mettre nos recherches en commun et planifier la suite du TPE. Pendant cette phase de recherche j’ai lu de nombreux articles sur les inégalités de richesse, sur les soins dans les pays en développement ainsi que des études, souvent écrites en anglais et faites dans des buts humanitaires. J’ai ensuite essayé de trouver des liens dans l’information que j’avais récoltée afin de mieux comprendre le sujet et de pouvoir traiter cette information dans le but de répondre à notre problématique. Puis, après avoir fini les recherches, nous avons tous les trois entamé la rédaction. <br>
	Ensuite s’est posée la question du support. Nous avons finalement opté pour un site web, qui, à condition d’être simple mais bien construit, nous permettrait de communiquer notre TPE d’une manière efficace. Je me suis alors chargé de la conception de ce site.
	</p>
	<p>
	Finalement, l’expérience du TPE m’a beaucoup apporté sur un plan méthodologique et académique mais aussi sur un plan extra-scolaire. En effet, le TPE représente un travail considérable qui nécessite une certaine organisation. Au cours de la période des TPE j’ai donc pu constater l’importance de l’organisation, surtout lorsqu’on travaille en groupe, et j’ai appris à planifier le travail. J’ai aussi découvert des liens entre des disciplines aussi différentes que l’Histoire-Géographie et la SVT qui à la fin de cette expérience ont cessé d’être des matières distinctes et forment maintenant pour moi deux facettes d’un même ensemble cohérent. Mais j’ai surtout appris beaucoup sur notre société. En étudiant la situation de la plupart des amputés sur la planète j’ai découvert une partie de notre monde à laquelle nous, personnes privilégiées, ne pensons pas forcément très souvent mais qui est caractérisée par la pauvreté, la faim, et un désir de survie qui se sent notamment à travers des amputés qui trouvent des solutions rudimentaires à leur handicap afin de pouvoir continuer à travailler et à subvenir à leurs besoins. Cependant, des initiatives, menées par des petits groupes, visent à améliorer les conditions de vie de ces personnes. Ces initiatives m’ont fait comprendre que même un groupe très réduit d’individus a le pouvoir d’aider les plus démunis, ne serait-ce qu’avec un peu de motivation. 
	</p>
	<br>
	<div class="separator large"></div>
	<br>
</div>

<div class="pager">
	<a class="next" href="/sources"></a>
	<a class="previous" href="/synthese/2"></a>
</div>