<%= page = 8 %>

<div class='header'>
	<h1>Syntheses personnelles</h1>
</div>

<div class="body">
	<div class="separator"></div>
	<h2>Louise Giletta</h2>
	<div class="separator"></div>
	<p>Cette année, élève en première S, j’ai choisi de réaliser ce TPE en collaboration avec Romane Carpentier et Diego Vurgait.<br>
	J’ai à de nombreuses reprises, au collège et au lycée, eu l’occasion de faire des exposés ou de rendre des devoirs en commun avec Romane. Je connais également très bien Diego, sa méthode de travail et son sérieux. Il nous a paru évident, à tous les trois, que nous pouvions former une bonne équipe de travail et que notre trio pourrait combiner efficacité et bonne humeur dans le préparation et l’élaboration du TPE. </p>

	<p>Notre TPE a pour sujet les inégalités liées à l’accès aux prothèses et croise les deux disciplines suivantes : les Sciences humaines et les Sciences et Vie de la Terre. Nous avons, au cours de notre séance de travail, choisi le thème commun aux trois filières : Ethique et Responsabilité et plus particulièrement la Bioéthique humaine.</p>

	<p>Nous étions tout d’abord très intéressés par les nouvelles technologies, et la dominante SVT nous permettait de les aborder. En revanche, nous ne savions pas comment relier notre sujet avec la matière des Sciences Humaines. Nous avons donc continué lors de la première séance sur les nanotechnologies et le Trans humanisme après avoir consulté les thèmes et les axes de recherche proposés par le site de l'Education nationale.</p>

	<p>Nous voulions tous les trois choisir les prothèses comme sujet principal dès le second cours de TPE. En effet, ce sujet est de plus en plus exploité, médiatisé et surtout en pleine révolution technologique. De plus, le sujet en lui-même nous intéressait tous. Un problème se posait malgré tout, nous n'avions par l'Histoire Géographie dans ce choix. Grâce à l'aide de nos professeurs, nous avons pu orienter notre projet différemment en reliant les prothèses avec les inégalités d’accès inhérentes. Bien que de nombreux groupes aient choisi ce même thème, nous trouvions que cette façon de l’aborder était très intéressante et ne semblait pas avoir été exploitée.</p>

	<p>La construction de la problématique a été délicate à élaborer. Nous souhaitions que la répartition du travail soit équitable, respecte un certain équilibre dans le traitement du sujet et que les parties des uns et des autres soient abordées pleinement. </p>

	<p>Romane a réalisé des recherches sur l’amputation, Diego sur les inégalités socio-économiques. De mon côté, j’ai étudié l’aspect technique des prothèses. </p>

	<p>Nous nous sommes vus plusieurs fois, à la bibliothèque et à la médiathèque afin de mettre en commun nos recherches et nous fixer des objectifs de travail. </p>

	<p>Après avoir effectué mes recherches sur les prothèses, il s’est avéré que mon plan n’était plus cohérent avec la problématique car mes recherches étaient axées uniquement sur les pays développés. Après réflexion, j’ai repensé le plan de ma partie entièrement et refait un travail de recherche complémentaire. Il était plus intéressant et plus pertinent de comparer les différences d’accès aux prothèses entre les pays en voie de développement et les pays développés. </p>

	<p>Nous avons décidé dès le début de publier notre TPE sur un site web réalisé par Diego. Ce support, plus ludique et plus facile d’accès pour toute personne souhaitant le lire, nous a paru come un bon support pour notre travail d’une part et d’autre part nous a permis de faire le lien avec notre sujet qui traite des technologies. </p>

	<p>Ce TPE fut très instructif et gratifiant. Il nous a permis d’approfondir le sujet des prothèses qui nous intéressait particulièrement et d’appréhender ce sujet sous un nouvel angle, celui des inégalités d’accès en fonction de la zone géographique où nous vivons. </p>

	<p>Cette étude a été pour moi l’occasion d’une immersion dans le monde du handicap et d’une véritable approche de l’amputation. Au travers des différentes études et témoignages, j’ai pris conscience de la souffrance, au quotidien, vécue par les personnes amputées et des disparités importantes existant sur l’accès aux prothèses entre les pays développés et les pays en voie de développement. </p>

	<p>Enfin, cette expérience fut très enrichissante sur le plan personnel car en plus du travail de recherche et de rédaction réalisé, cela m’a appris à travailler en groupe durant plusieurs mois et à surmonter les difficultés qui se sont présentées. Ce projet nous a permis de nous écouter les uns les autres, de prendre des décisions de faire des compromis et d’établir un véritable dialogue pour aboutir à une solution commune et concertée. J’ai, de plus, gagné en autonomie, en prise d'initiative et en rigueur dans mes exploitations de documents et j'ai également appris à organiser mon temps de travail sur une longue durée.</p>

	<p>Ce projet a donc été un véritable enrichissement tant sur un plan scolaire que sur un plan personnel et humain.<br>
	</p>
	<br>
	<div class="separator large"></div>
	<br>
</div>

<div class="pager">
	<a class="next" href="/synthese/3"></a>
	<a class="previous" href="/synthese/1"></a>
</div>