<%= page = 3 %>

<div class='header'>
	<h1>Les prothèses</h1>
</div>

<div class="body">

	<div class="separator"></div>
	<h2>A - Historique</h2>
	<div class="separator"></div>
	<br>
	
	<h3>Qu'est-ce que la prothèse, et pourquoi la prothèse ?</h3>

	<p>Les prothèses (du latin prothesis qui signifie "addition") sont des appareils qui servent à remplacer une partie du corps, un membre ou une articulation dans le but de restaurer la fonction qui est compromise. Celles-ci sont, dans la mesure du possible, rétablies, en totalité ou partiellement, ainsi que leurs formes qui seront adaptées pour s'allier parfaitement avec l’organisme.  Ainsi, la prothèse a pour but de redonner une autonomie à la personne, soulager sa douleur, la réinsérer à son domicile et dans sa vie sociale. L’histoire des prothèses est donc entièrement liée à celle de l’humanité car l’Homme cherche à conserver sa posture debout.</p>
	<p>L'instinct de survie étant primordial, il leur fallut chercher de quoi remplacer leurs membres amputés ou estropiés.</p>
	<p>La demande de prothèses existe donc depuis les débuts de l’humanité. Ainsi, des prothèses égyptiennes d’orteil remontant à 2 600 ans, fabriquées en bois et cuir sont conservées au musée du Caire et au British Museum.</p>
	<p>En France, la première trace de prothèse dont on dispose est visible sur une mosaïque du Xe siècle dans une cathédrale des Pyrénées et figure la dépouille d'un soldat équipé d'un pilon.</p>
	<p>Grecs et Romains ensuite en ont aussi fabriqué. En effet, en 1858, on découvre au Sud de l'Italie sur un site romain une prothèse en cuivre et en bois.</p>
	<p>Les prothèses pendant le Moyen âge étaient principalement utilisées pour les combats et n’étaient que de simples pilons pour remplacer les jambes ou encore des crochets pour remplacer les mains. Seuls les riches avaient le privilège de porter des prothèses plus sophistiquées. Les lunette, inventées par Roger Bacon, apparaissent au XIIIe siècle et sont les premières prothèses portées sur le visage.</p>
	<p>Ce n’est que trois siècles plus tard que nous observons un véritable essor dans le domaine scientifique, notamment dans le développement de l’appareillage.</p>
	<p>Il faut attendre La Renaissance et le XVIème siècle pour voir se dessiner la silhouette d’un homme de fer. En effet, à cette époque, le chirurgien et anatomiste français Ambroise Paré à l’origine du renouveau de la ligature des vaisseaux suite à une amputation, imagine et crée de nouvelles prothèses.</p>
	<p>Celles-ci sont fabriquées d’une armature en métal avec un cuissard à pilon et d’un pilon articulé et confie ses prototypes au ferronnier Le Lorrain, bien que les plus fréquentes à l’époque restent en bois. Ce chirurgien doit son succès grâce aux différentes guerres qui lui ont permis d’être en contact avec d’autres chirurgiens ou kinés qui lui ont permis d’accroître ses connaissances sur l’anatomie humaine. Il devient ainsi le premier professionnel orthoprothésiste (mais il faudra attendre 2007 pour que ce métier soit reconnu).</p>
	<p>Les différentes guerres ont ainsi été vectrices du développement du monde prothétique et d'une meilleure prise en charge des amputés. En effet, la Guerre de Sécession aux Etats-Unis de 1861 à 1865 a causé 30 000 amputations, pour répondre à la demande importante de soins médicaux, de nombreuses entreprises ont ainsi pu se spécialiser dans l’appareillage. Puis, durant les deux Guerre Mondiales la France doit faire face à de nombreux blessés (56000 amputés en France), les maisons de prothèses et d’orthopédie sont submergés par les demandes d’appareillage. Les professions de prothésistes et orthésistes se développent. Ainsi, ses recherches font évoluer les prothèses qui bénéficient de toutes les dernières avancées technologiques et industrielles comme la mécanique ou l’électronique et permettent de répondre aux besoins fonctionnels des blessés.</p>
	<p>De nos jours, les prothèses permettent aux amputés de marcher presque comme les valides.</p>


	<br>
	<div class="separator"></div>
	<h2>B - Prothèses dans les pays sous-développés et en voie de développement</h2>
	<div class="separator"></div>
	<br>

	<p>Pour une personne habitant dans un pays en développement, perdre une jambe ne leur fait pas perdre uniquement leur mobilité (qui est essentielle dans ces pays). L’amputé se retrouve souvent exclu de la communauté et perd aussi son travail et même parfois sa famille, et se retrouve obligé de mendier dans les rues pour survivre.</p>
	<p>Ainsi, un des principaux problèmes reste l’accès à ces prothèses.<br>
	Bien que le taux d'amputations soit en baisse la demande de prothèses reste importante. D’après OMS il y a 30 millions d’amputés qui n’ont pas accès à un appareillage.</p>
	<p>Pour les enfants, un remplacement prothétique est nécessaire généralement tous les 6 à 12 mois. Pour les adultes un tel remplacement est recommandé tous les 3 à 5 ans. Cela signifie que les jeunes peuvent avoir besoin d’environ 25 prothèses tout au long de leur vie, tandis que les adultes utilisent jusqu'à 20 membres artificiels (Fondation Outreach Prosthetics, 2005).</p>
	<p>Mais un des principaux problèmes dans l’accès aux prothèses dans les pays en développement est le manque de personnel qualifié. La construction nécessite des employés qualifiés pour réaliser le montage, l’alignement et le réglage des différentes prothèses Cependant, il existe quelques programmes de formation dans certains pays à faible revenu dans ce domaine. Des études menées par l'Organisation mondiale de la santé (OMS) indiquent que même si l'offre actuelle d’emplois de techniciens est inférieure 40.000, il faudra environ 50 ans pour former seulement 18.000 professionnels plus qualifiés (Walsh2003).</p>
	<p>De plus, de nombreux matériaux sont importés des pays développés ce qui coûte plus cher et le plus souvent ils ne répondent pas aux besoins des personnes qui travaillent en tant que paysans dans le milieu rural et dans un climat tropical. Dans de telles conditions de vie, les membres de remplacement traditionnels sont faits de bois et de résine et n'ont qu’une durée de vie d'environ 18 mois.</p>
	<p>Beaucoup de personnes n'ont pas accès à des professionnels prothésistes ou même à une clinique. Ainsi, la plupart des prothèses sont faites-main avec des matériaux variés, des plus simples comme le bois ou le bambou ou certaines sont faites de tissus qui s'adaptent directement au moignon. Mais ceux qui ont accès aux différents soins ont de multiples options qui s'offrent à eux et peuvent obtenir des appareillages faits en en parties de vélos au plus sophistiquées fabriquées via ordinateur.</p>
	<p>Les prothèses les plus répandues et les plus faciles à fabriquer sont sous forme de béquille avec un pôle.</p>
	<p>Pour connaître le détail des constituants de la prothèse voir <a href="#constituants">partie C</a>.</p>

	<h4 class="large">1/PROTHÈSES SOUS FORME DE BÉQUILLES AVEC UN POLE</h4>

		<p>La plus simple prothèse existante est un pôle à main soit avec un bracelet en cuir ou une plateforme pour maintenir la jambe en place. Cette prothèse peut également être réalisée avec une jambe-béquille (dont la jambe a été amputée) et qui est fixée à la prothèse avec plusieurs sangles. Ces types de prothèses sont un bon moyen de permettre à une personne de retrouver l’usage de ses jambes lorsqu’il n’y a rien d’autre de disponible mais peuvent malheureusement engendrer des problèmes à long terme. En effet, des contractures dans le genou ou le coude peuvent facilement gêner la personne amputée si les muscles du membre ne sont pas étirés et mis en mouvement quotidiennement.</p>
 
		<p>Selon les pays, les besoins de la personne amputée et son coût, la prothèse peut varier en fonction des matériaux : En bambou, en plâtre, en PVC, en bois ou en métal.</p>

		<div class="img">
		<img src="pole_leg.png" alt="Prothèse béquille">
		</div>
		<p class="source">Illustration d'une prothèse sous forme de béquille (étude d'Érin Strait sur oandp.org)</p>

	<h4 class="large">2/PROTHÈSES EN BAMBOU, PLÂTRE ET PVC</h4>

		<p>
		Ce nouveau type de prothèse est un modèle plus avancé sur le plan technique que la béquille en bois car le membre est tenu dans une position plus naturelle. Cela empêche la formation de contractures lorsque que le patient marche car le genou artificiel permet de reproduire de multiples mouvements. Ces prothèses sont réalisées en ajoutant un rembourrage à la partie inférieure du membre résiduel et l’assemblage et maintenu par un tissu recouvrant le moignon et enveloppé dans des bandages de plâtre. Ensuite, un morceau de bambou est coupé en longues pièces étroites et attaché à la prise avec un fil mince. Le pied est alors réalisé en façonnant un bloc de bois en forme de pied qui est attaché à une partie en caoutchouc (découpée dans un pneumatique) par des sangles. Les seules différences entre les prothèses faites en bambou, en plâtre ou en PVC sont les matériaux qui sont utilisés pour le pôle sur lequel l'emboîture repose.
		</p>

		<div class="img">
		<img src="bambou_pvc.png" alt="Prothèse bambou et PVC">
		</div>
		<p class="source">Illustration d'une prothèse en bambou et une autre en PVC (étude d'Érin Strait sur oandp.org)</p>

	<h4 class="large">3/PROTHÈSES EN BOIS ET EN MÉTAL</h4>

		<p>Les prothèses en métal ou en bois sont plus communes, mais nécessitent beaucoup de temps pour être fabriquée.<br>
		L’emboiture est constituée d’un bloc de bois qui est attachée à un pylône.</p>
		<p>La prothèse faite de métal et de cuir est réalisée avec des barres en métal, d’un poteau en bois pour le pylône et d’un morceau de cuir épais qui constitue l’emboîture. L’emboiture, qui est ajustable, est fabriquée en étirant le cuir mouillé autour d’un moulage du membre résiduel. </p>
		<p>L’emboiture est ensuite fixée aux barres métalliques. L’ensemble est finalement fixé à un pôle en bois. Le pied est construit de la même manière et avec ces mêmes matériaux.</p>

	<h4 class="large">4/AUTRES TYPES DE PROTHÈSES</h4>

		<h4>À partir de vélos</h4>

			<p>Des prothèses peuvent même être réalisées grâce aux matériaux issus des vélos. Elles possèdent en effet plusieurs avantages :</p>

			<p>Elles sont peu coûteuses et utilisent des matériaux disponibles et accessibles dans la plupart des pays en développement. De plus, les composants de celles-ci sont ajustables pour la croissance des enfants par exemple. La prothèse est construite ainsi :</p>

			<p> - La selle du vélo constitue le tibia.</p>

			<p> - Le pied est constitué de bois qui est découpé de telle sorte à ce qu’il en ait la forme et doublé de caoutchouc des roues sur la surface. Le montant du siège est fixé au pied.</p>

			<p> - Les supports de la roue arrière sont pliés pour former le support prise.</p>

			<p> - Le tibia et le pied sont fixés au support qui peut être ajustable. La prise est faite directement sur le membre résiduel et recouverte de mousse. Un disque en bois est placé au bas du membre pour se reposer sur le dessus du support du moignon. L'emboîture est fixée au support et la prothèse est maintenue avec une sangle reliant la prothèse à une ceinture portée autour de la taille.</p>

			<div class="img"><img src="emboiture_velo.png" alt="Emboîture prothèse vélo"></div>
			<p class="source">Emboîture de prothèse réalisée avec un vélo (2016 Alabama Media Group)</p>

			<p>Pour rendre ces prothèses accessibles à la population, de nombreuses organisations et associations fabriquent sur place souvent gratuitement des prothèses pour les habitants.</p>


		<h4>Mukti</h4>

			<p>On peut d’ailleurs citer l’organisation Mukti créée en 1986 qui a pour but de fournir des prothèses dans le monde comme par exemple en Inde où ils ont fournis plus de 300 000 prothèses.</p>

			<p>Cette prothèse est très légère et faite sur- mesure pour les amputés en seulement 5 heures et peut même être fabriqué dans les villages les plus reculés. Elle est simplement constituée de plâtre, d’une emboiture et d’une tige en fer et de bois fixés par des sangles.</p>

			<p>Ces prothèses de qualité peuvent être récupérées rapidement et sont fournies gratuitement par l'organisation Mukti à tous les amputés. Grâce au peu de compétences et de formation nécessaire aux techniciens pour fabriquer ces prothèses, l’association Mukti a gagné en popularité. La Fondation Mukti a mis en place de nombreux camps en Inde et ont actuellement 350 camps dans le monde.</p>

		<h4>ReMotion Knee</h4>

			<p>Ainsi, pour s'adapter au mieux aux besoins de la population, de nombreuses sociétés développent de nouveaux modèles à faible coût. On peut d'ailleurs citer L'ONG américaine D-Rev qui a lancé la prothèse ReMotion Knee, à faible prix (80 dollars), confortable et résistante qui a permis à des millions d'handicapés dont à 6800 amputés Indiens de retrouver l'usage de leur jambe.</p>

			<p>Ce projet mené par des étudiants avait pour objectif de concevoir un genou artificiel constitué d’un plastique solide et d'acier inoxydable. Cet alliage d'une durée de vie de trois à cinq ans résiste également à la chaleur, à l'humidité et à la saleté.</p>

			<p>À titre de comparaison, aux États-Unis, un genou artificiel coûte 80 000 dollars. Un investissement qui nécessite d'importants revenus et une bonne couverture médicale. Ainsi, le ReMotion Knee est une solution très peu coûteuse pour des personnes habitant les pays en développement puisque une prothèse similaire reviendrait à 1 875 dollars en moyenne. Un prix a priori plus abordable, mais qui correspond en fait à six fois le revenu mensuel moyen d’une famille rurale, selon le site américain BorgenMagazine.</p>

		<h4>Conception assistée par ordinateur</h4>

			<p>De même les nouvelles technologies sont mises au service des besoins des amputés grâce notamment à la recherche en conception et fabrication assistée par ordinateur qui est de plus en plus développée, même dans les pays les plus en difficulté.</p>

			<p>La capacité de fabriquer des prothèses à distance offre de nombreuses possibilités. Un prothésiste peut réaliser une prothèse en moins de 4 heures. Ceci est une amélioration significative considérant qu'un prothésiste dans un pays en développement a généralement besoin de plusieurs semaines pour produire une prothèse. Le processus commence par une simple coulée du membre résiduel sur place dans le pays en développement. La distribution est numérisée à distance par ordinateur pour effectuer les modifications. L'emboîture est alors fabriquée à partir d'une feuille thermoplastique, soit avec l'ordinateur directement connecté, ou à distance. Ensuite la prothèse est complétée par fixation des composants et au patient. Le processus de fabrication d’une prothèse via ordinateur ne prend que quelques heures et dure au moins trois ans.</p>

	<br>
	<div class="separator"></div>
	<h2 id="constituants">C - Prothèses dans les pays développés</h2>
	<div class="separator"></div>
	<br>

	<h3>Processus d'appareillage de la prothèse tibiale</h3>

		<p>De nos jours, il existe dans les pays développés une multitude de prothèses avec des matériaux et des utilisations différentes. De plus avec l'apparition des nouvelles technologies, la prothèse a été révolutionnée.</p>

		<p>Elle est constituée d'un ensemble de composants capables de remplacer un membre tant sur le plan fonctionnel qu'esthétique.</p>

		<p>Il existe de nombreuses sortes de prothèses pour les personnes amputées du membre inférieur, c’est pourquoi nous nous limiterons au cas les plus répandu : la prothèse trans-tibiale.</p>

		<div class="img"><img src="schema_membreinf.png" alt="Amputations membre inferieur"></div>
		<p class="source">Schéma des différentes amputations du membre inférieur et des pourcentages les représentant (Eduscol)</p>

		<p>Le modèle le plus répandu et le plus utilisé pour les personnes ayant subi une amputation est celui-ci :</p>
		
		<div class="img"><img src="trans_tibiale.png" alt="Prothese trans-tibiale" class="xsmall"></div>
		<p class="source">Prothèse trans-tibiale (OIM orthopédie)</p>

		<div class="img"><img src="schema_emboiture.png" alt="Schéma prothese trans-tibiale"></div>
		<p class="source">Schéma d'une prothèse trans-tibiale et de ses composants (TPE prothèses membres inférieurs)</p>

		<p>Ses principaux constituants sont :</p>
		<p><span class="underline">L’emboîture</span> : Dispositif dans lequel est introduit le moignon et qui sert à la transmission du poids du corps et permet la fixation des composants prothétiques. Elle est fabriquée sur mesure par rapport au moignon du patient par l’orthoprothésiste.</p>
		<p>De plus, la qualité de conception de l’emboiture est importante : elle doit être confortable et doit avoir une bonne tenue sur le moignon.</p>
		<p><span class="underline">Le manchon</span> : Il permet d'améliorer le confort pour l'amputé tibial mais peut être également utilisé chez les amputés fémoraux et facilite la mise en place du moignon dans la prothèse.</p>
		<p>Les composants prothétiques : genou, tube, pied ; Le pied prothétique assure le contact avec le sol. Selon la prothèse il n’aura pas la même forme, ne sera pas composé des mêmes matériaux (prothèse du quotidien, prothèse sportive).</p>
		<p><span class="underline">Un revêtement esthétique</span> : Habillage reproduisant la forme du membre sur-mesure.</p>

		<p>Une emboîture tibiale doit respecter différents principes pour obtenir confort, sécurité, dynamisme : <br>
		<br><span class="list"> Répartition des appuis</span>
		<br><span class="list">Gestion des volumes</span>
		<br><span class="list">Accrochage</span>
		</p>
 
		<p>Différentes techniques sont proposées en fonction des caractéristiques du moignon, du patient, et des objectifs à atteindre. En effet, les composants et la structures ont étudiés pour reproduire le plus naturellement possible le mouvement du pied lors d’un pas.</p>

		<p>La réalisation d’une prothèse d’un membre inférieur et le processus d’appareillage se fait en plusieurs étapes :</p>
		<p>Avant de pouvoir envisager la réalisation de la prothèse, il est primordial dans la majorité des cas que le moignon soit bien cicatrisé. Les soins spécifiques initiaux sont déterminants pour une bonne tolérance ultérieure de la prothèse et pour assurer une bonne qualité du membre résiduel au même titre que la qualité du geste chirurgical qui a précédé.</p>
 
		<p class="underline">Tout d’abord, on réalise la prothèse provisoire :</p>
		<p>L’appareillage débute suite à l’accord d’un médecin et est ensuite réalisée sur mesure par rapport au moignon du patient grâce à un moulage.</p>
		<p>Un premier moulage s’effectue par le thérapeute qui va permettre la fabrication de la réplique du moignon qui sera ensuite sculpté pour correspondre et s’adapter au mieux à la forme et à la morphologie de l’extrémité du membre. Celui-ci est réalisé en plâtre et permettra, par la suite, de fabriquer l’emboîture plâtrée. Elle est ensuite remplacée une emboîture en plastique semi-définitive qui permettra à la personne amputé de se familiariser une seconde fois avec la marche lors notamment d’essais de marche entre barres parallèles.</p>
		<p>Les autres éléments de la prothèse sont composés de différentes pièces choisies en fonction des impératifs anatomiques et fonctionnels de l’amputé puis sont assemblées.</p>
 
		<p class="underline">Puis nous avons l’étape de la première rééducation et de la réadaptation :</p>
		<p>La rééducation vise à apprendre et automatiser l’intégration et l’usage de la prothèse au cours des différentes activités.</p>
		<p class="underline">Enfin on réalise la prothèse définitive :</p>
		<p>La fabrication de la prothèse définitive s’effectue sous deux conditions : le moignon doit être à volume stable et le bilan fonctionnel du patient doit être idéal.</p>
		<p>Ce nouveau membre de remplacement est constitué de l’assemblage des éléments définitifs de cette prothèse, comme le manchon et l'emboîture, en atelier et d’un revêtement esthétique.</p>
		<p>La phase finale est ensuite l’ajustement de cette prothèse et surtout de son emboiture qui doit s’ajuster parfaitement au moignon. Enfin on règle la prothèse et le processus d’appareillage touche à sa fin.</p>
 
		<p class="underline">Par la suite nous avons une étape de seconde rééducation :</p>
		<p>En effet, une réadaptation à la marche est essentielle pour permettre au patient de s’habituer à l’usage de sa prothèse et de retrouver un maximum d’autonomie.</p>
 
		<p>En fonction du projet de vie, des mesures de réadaptations sont finalisées pour que le patient puisse reprendre ses activités comme la conduite automobile, le sport ou encore dans le domaine professionnel…</p>
		<p>De plus, des conseils d’hygiène sur les soins du membre amputé et l’entretien des prothèses, sont donnés. Un suivi médical et technique est également assuré afin de prévenir une blessure et d’ajuster ou de renouveler l’appareillage (qui est possible tous les 5 ans).</p>
		<p>Les prothèses transtibiales coûtent le plus souvent entre 1000 et 1500 euros selon le prix des dispositifs annexes et des options ajoutées. Les manchons de 100 à 1 100 € (Un manchon court en mousse ou caoutchouc coûtera de 100 à 140 €, mais les manchons longs en silicone de qualité médicale assurant le lien mécanique entre la prothèse et le moignon coûteront plus de 1 000 €), les emboîtures (500 €) ou les gaines (200 €) ou encore la valve de dépressurisation (200 €) qui permet d'adapter la prothèse au moignon.</p>



	<h3>Nouvelles technologies de l'appareillage</h3>

	<p>De nos jours, grâce au développement des nouvelles technologies, les personnes amputées peuvent retrouver une mobilité presque normale et même la sensibilité.</p>

	<h4 class="large">1/LES PROTHÈSES BIONIQUES</h4>

	<p>Le fonctionnement d’une prothèse bionique par la pensée est connu et développé depuis les années 60. Elles fonctionnent de cette façon : lorsque la personne souhaite effectuer un mouvement, un message nerveux est envoyé jusqu’au membre inférieur. Des capteurs, disposés sur le membre amputé, relaient ainsi les signaux des muscles contenant l’information jusqu’à la prothèse. Celle-ci est activée par la suite grâce à des électrodes, disposés sur le moignon, qui décodent ces signaux nerveux et combinés aux informations des capteurs. Ils envoient ensuite les « commandes » de contraction des muscles à la prothèse qui met en marche des moteurs qui permettent d’effectuer le mouvement voulu.</p>

	<p>Un problème persistait tout de même : le contrôle des membres inférieurs (contrairement aux membres supérieurs) est le plus souvent inconscient et dans le cas d’une prothèse, demande une concentration sur le mouvement à reproduire. </p>

	<p>Ainsi, de nombreuses entreprises ont récemment développé ce système afin de se déplacer inconsciemment, comme l’entreprise Össur en créant une moelle épinière artificielle grâce à des capteurs myoélectriques assemblés à un récepteur hélicoïdal qui convertissent ces réflexes en en impulsions myoélectriques.</p>

	<div class="img"><img src="ossur.png" alt="Prothèse Ossur" class="xsmall"></div>
	<p class="source">Prothèse Össur (Newsroom)</p>

	<p>De même, il est maintenant possible de rendre les sensations à ces amputés, comme ici le toucher. En 2014, la première prothèse équipée d’un système sensoriel a été réalisée et testée avec succès par une équipe européenne. C’est en effet sur une prothèse de main que cette révolution technologique a été testée. Ce membre artificiel est ainsi relié à des électrodes qui sont implantés dans le cerveau (plus précisément dans le cortex sensoriel) qui ont permis au premier patient il y a 2 ans, de lui rendre le sens du toucher.</p>

	<h4 class="large">L'IMPRIMANTE 3D</h4>
	
	<p>Ces prothèses du futur connaissent un développement fulgurant et se démocratisent de plus en plus grâce à l’imprimante 3D. En effet, cette invention qui date de 1983 a permis l’essor de l'appareillage prothétique low-cost.</p>

	<p>L’imprimante en 3 dimensions est peu coûteuse et peu encombrante permettant de produire n’importe quel objet en peu de temps, notamment des prothèses.</p>

	<p>Elle permet en effet la fabrication d’une prothèse avec une large gamme de matériaux résistants de différentes textures et d’une très grande précision (au dixième de millimètre près). De plus, ceux-ci sont ajustables à l’anatomie de la personne amputée et sont surtout à un prix beaucoup plus bas. Un avantage que nous développerons plus tard permettant de réduire les inégalités liées au coût de ces membres artificiels.</p>

	<p>L’impression 3D utilise différents procédés pour imprimer la matière, qui diffèrent selon le type d’imprimante 3D utilisée. On peut classer ces procédés dans trois grands groupes :
	<br>
	<br><span class="list"><span class="underline">Le dépôt de matière (FDM)</span> : consiste à déposer couche par couche un filament de matière thermoplastique fondu à 200°C (en moyenne) qui en se superposant donne forme à l’objet).
	</span>

	<br><span class="list"><span class="underline">La stéréolithographie (SLA)</span> : un laser frappe un liquide qui se solidifie sous l'effet des ultraviolets.</span>

	<br><span class="list"><span class="underline">L’agglomération par collage</span> : consiste en l’étalement d’une fine couche de poudre de composite sur une plateforme qui après y avoir été déposé des gouttes de glue colorées permet d’obtenir la couleur. La plateforme s’abaisse au fur et à mesure que les couches de poudre sont collées jusqu’à obtenir l’objet final. </span>
	</p>

	<p>Comme nous pouvons le voir, ces techniques diffèrent uniquement sur la façon dont les couches de matières sont déposées et traitées.</p>

	<p>Ceux-ci fonctionnent selon le même principe : systématiquement, l’imprimante 3D imprime couche par couche pour obtenir la forme 3D voulue du matériau qui constituera la future prothèse.</p>

	<div class="img"><img src="imprimante.png" alt="Imprimante 3D"></div>
	<p class="source">Imprimante 3D (Avenue Informatique)</p>

	<p>Nous avons donc pu voir dans cette partie sur les prothèses qu'il en existe de nombreux types qui diffèrent selon leur provenance. Bien que les nouvelles technologies permettent de plus en plus leur démocratisation, leur accès reste cependant inégal, ce que nous aborderons dans une dernière partie.</p>

	<br>
	<div class="separator large"></div>
	<br>
</div>

<div class="pager">
	<a class="next" href="/inegalites"></a>
	<% if (page > 1) %>
		<a class="previous" href="/amputation"></a>
	<% end %>
</div>