<%= page = 2 %>

<div class='header'>
	<h1>L'amputation</h1>
</div>

<div class="body">

	<div class="separator"></div>
	<h2>A - Introduction sur l'amputation</h2>
	<div class="separator"></div>
	<br>
	
	<p>
	Tout d’abord, l’amputation consiste à enlever une extrémité du corps, normalement par la chirurgie, en effectuant l'ablation d'un membre, d'une partie d'un membre ou d'une partie saillante telle que le sein (mastectomie) ou la langue (glossotomie) par exemple. Mais elle peut parfois être indépendante de la volonté sous forme du résultat d'un traumatisme où le membre est arraché. L’utilisation de prothèses, permettant de remplacer la partie amputée, peut donc être un recours intéressant pour éviter les désagréments liés à la perte d'un membre.
	</p>
	<p>L’amputation compte parmi l’une des interventions chirurgicales les plus anciennes. En effet, les premières traces sont vraisemblablement issues du Mésolithique (8000-6000 av. J.-C.) car des chercheurs ont découvert, à l’intérieur de grottes, des dessins représentant des amputations de doigts. </p>
	<p>Jusqu’au début du XXème siècle, les amputations étaient effectuées principalement en raison de blessures de guerre, d’épidémies telles que la lèpre ou la tuberculose, d’engelures, de morsures d’animaux ou de la gangrène. Les infections post-opératoires ont eu comme conséquence un taux de mortalité atteignant 40%. Ces amputations ont donc été pratiquées dans un contexte de risque vital pour sauver la vie du blessé. Le sacrifice du membre était le prix à payer pour conserver la vie et l’on se préoccupait peu de la qualité de vie.</p>
	<p>De nos jours, les progrès de la médecine et de la chirurgie ont permis de limiter les amputations, notamment en urgence. La décision d’amputation n’est plus toujours le fait d’une nécessité absolue mais parfois la solution qui pourra apporter le meilleur résultat fonctionnel, c’est-à-dire qu’elle n’est plus forcément inévitable pour sauver la vie du patient mais que cette décision est prise pour permettre un meilleur confort dans sa vie quotidienne.</p>
	<p>Cependant, les pays en développement ne bénéficient pas totalement de ces progrès. En effet, les inégalités de richesse entre les pays ont des conséquences sur les accès aux soins (niveau d’hygiène et infrastructures) et augmentent donc les risques lors de ces interventions.</p>
	<br>
	<div class="separator"></div>
	<h2>B - Causes des amputations dans le monde</h2>
	<div class="separator"></div>
	<br>
	<p>Aujourd’hui, l’amputation, dont la grande majorité concerne les membres inférieurs (environ 90%), peut être due à différents facteurs. Les causes principales peuvent être divisées en deux grandes catégories : les causes pathologiques et les causes traumatiques, même s’il existe d’autres cas. Nous pouvons donc étudier la répartition des étiologies des amputations des membres inférieurs grâce notamment au diagramme suivant représentant des études britanniques. Ces études restent valables pour les autres pays développés. Cependant, les études concernant les pays en développement restent assez rares à cause de manque de moyens ou bien de tensions géopolitiques.</p>

	<div class="img"><img src="nasbab.png" alt="Étiologie des amputations du membre inférieur" class="small"></div>
	<p class="source">NASBAB 2005 (2004-5: National Amputee Statistical Database)</p>
	<br>
	<p>Tout d’abord, les causes pathologiques représentent 80% des étiologies des amputations dont 65% touchent les personnes de plus de 65 ans. Différentes pathologies peuvent être à l’origine de la nécessité d’amputer. </p>
	<p>La majorité des amputations sont dues à des maladies vasculaires. C’est le cas des artérites qui sont des lésions artérielles d’origine dégénérative ou inflammatoire aboutissant à l’épaississement des parois avec parfois la dilatation et ou l’oblitération des vaisseaux. Lorsque ces vaisseaux sont rétrécis, voire bouchés, le sang oxygéné n'arrive plus et les organes souffrent. On peut distinguer deux types d’artérites.</p>
	<p>Tout d’abord, il existe les artérites dégénératives, les artérioscléroses, qui sont des lésions de la paroi artérielle, formées par des plaques d'athérome (plaques constituées de lipides, le cholestérol). Elles évoluent avec le temps et aboutissent à la formation de plaques plus ou moins calcifiées empêchant la circulation normale du sang dans l'artère.</p>

	<div class="img"><img src="artere.png" alt="Arteriosclerose" class="xsmall"></div>
	<p class="source">Représentation d’une artériosclérose (www.medixdz.com)</p>
	<p>
	1.	Artère normale <br>
	2.	Formation d'une plaque d'athérome. <br>
	3.	Artère obstruée par une plaque d'athérome et flux sanguin bloqué. <br>
	</p>
	<br>

	<p>Les conséquences de ce phénomène peuvent être la diminution du débit sanguin en dessous des lésions, la possibilité d'une obstruction complète des artères du territoire d'aval ou encore à des ischémies (souffrance d'un organe ou d'un tissu à cause de l'interruption de la circulation artérielle). Mais c’est surtout l’atteinte des branches distales des artères des membres inférieurs qui peut conduire à une gangrène ischémique (mort cellulaire suite à une interruption de l’irrigation sanguine) et donc à une amputation. Dans cette situation, nous retrouvons les diabétiques chez lesquels l’évolution est lente sans signe douloureux. Le risque d’amputation chez un diabétique est 15 fois plus élevé.</p>

	<p>Il existe aussi les artérites inflammatoires liées à des inflammations provoquant les mêmes résultats que les artérites dégénératives. Avec le temps et en fonction de l'évolution de l'inflammation, la paroi de l'artère peut se durcir et se rétracter ; l'artère peut même se boucher. Ces artérites sont le plus souvent séniles, ou préséniles mais peuvent survenir plus précocement à cause du tabagisme. Elles peuvent provenir aussi de maladies comme celle de Buerger qui correspond à l'atteinte des membres inférieurs, généralement chez les hommes jeunes, résidant en Europe centrale, et consommant des quantités trop importantes de tabac.</p>

	<p>Ensuite, les tumeurs peuvent être une autre cause pathologique d’amputation. Les amputations pour cause tumorale, relativement rares en cas de tumeur bénigne, demeurent parfois indispensables dans le cas de tumeur maligne. Les tumeurs responsables de ces amputations que ce soit ostéosarcome, chondrosarcome, sarcome d'Ewing ou encore bien d’autres tumeurs malignes surviennent aussi bien chez l'enfant que chez l'adulte.</p>

	<p>Nous pouvons voir, grâce au diagramme du CNAM, que la majorité des cancers chez les amputés en France sont des métastases (cellules cancéreuses se déplaçant et s’installant dans d'autres organes comme les poumons, le foie, les os…), mais on trouve aussi des cancers de la peau (18% de mélanomes), des cancers de tissus mous (12%) et des cancers des os (10% de sarcomes).</p>

	<div class="img"><img src="cancers-amputes.png" alt="Cancers des amputés appareillés" class="small"></div>
	<p class="source">Origine des cancers des amputés appareillés en France (CNAM)</p>
	<br>
	<p>Les infections ou lésions septiques en sont encore une autre cause. L'amputation pour infection succède presque toujours à des fractures ouvertes (fracture avec plaie) ainsi qu’à de graves infections ne guérissant pas grâce aux antibiotiques ou autres traitements. L'indication d'amputation n'est jamais posée en urgence et doit permettre de définir au mieux la longueur du moignon la plus correcte pour permettre une bonne fonction secondaire avec prothèse, sans faire courir au malade le risque d'une récidive de suppuration.</p>

	<p>On peut trouver des infections plus rares causant des amputations telles que le purpura fulminans et de façon plus exceptionnelle la lèpre ou l’actinomycose, ou encore comme les affections neurologiques (spina bifida, agénésies rachidiennes inférieures).</p>

	<p>Ensuite, les causes traumatiques, qui représentent 20% des amputations, sont aussi des causes importantes. En effet, ces amputations traumatiques sont dues essentiellement à des accidents de la voie publique, des accidents domestiques, ou encore de travail, à des gelures, ou à des brûlures-électrocutions. Elles concernent majoritairement les personnes de 20 à 50 ans. </p>

	<p>En ce qui concerne les accidents de la voie publique, on remarque que les victimes sont essentiellement des jeunes personnes, en moto le plus souvent, et que 70% des personnes amputées suite à un accident de la voie publique ne sont pas en tort. Dans ce cas, l’amputation est réalisée dans un contexte d’urgence lorsque les lésions sont irrémédiables et ne permettent pas une conservation du membre. Mais l’amputation peut être effectuée dans un second temps, si l’on constate que les traitements conservateurs sont voués à l’échec ou s’il survient des complications.</p>

	<p>Ces dernières années les amputations traumatiques et particulièrement des membres supérieurs ont fortement diminué. Les machines-outils ou les tronçonneuses responsables de graves accidents sont en effet maintenant équipées de systèmes de sécurité.</p>

	<p>Les niveaux d’amputations sont variables chez l’enfant ou l’adulte amputé après un accident même si le chirurgien fait tout pour pratiquer une opération à bon niveau afin de permettre appareillage dans les meilleures conditions fonctionnelles. </p>

	<p>De plus, les conflits géopolitiques causant des guerres participent également aux causes importantes des amputations. En effet, de nos jours, elles sont encore nombreuses dans le monde.</p>

	<div class="img"><img src="conflit.png" alt="Zones de conflit"></div>
	<p class="source">Les zones de conflits dans le monde (ledauphine.com 2014)</p>
	<br>
	<p>Parmi les guerres les plus importantes de notre époque, nous pouvons citer la guerre civile syrienne qui affecte aussi l’Irak. En effet, depuis plus de cinq ans, les violences armées ont causé la mort de plus de 300 000 personnes, un bilan qui ne cesse de s’alourdir. D'après l'ONU, 9,3 millions de personnes auraient besoin d'une assistance dans le pays, dont 570 000 blessés. Nous pouvons également voir, selon Handicap international, que 60% des personnes déplacées en Syrie ayant été blessées l'ont été par des armes explosives. Un quart d'entre elles ont dû subir une amputation.</p>

	<p>Ces blessés peuvent être pris en charge par des associations comme Handicap International, qui apporte une aide aux personnes amputées et à toutes celles dont le traumatisme physique est susceptible d'engendrer un handicap permanent, même si l’accès aux soins reste difficile dans ces régions. Cet accès est rendu compliqué par le manque d’hôpitaux mais aussi les attaques qu’ils peuvent subir. Nous pouvons le voir avec le principal hôpital d’Alep, complètement détruit par des raids menés dans le cadre d'une vaste offensive que menait le régime avec le soutien de la Russie en octobre 2016.</p>

	<p>Mais nous pouvons aussi citer d’autres guerres comme celle d’Afghanistan, qui se poursuit malgré le retrait de l’armée russe, causant toujours de nombreux blessés dont des amputés. Les victimes ne sont pas seulement les civiles des pays en guerre mais peuvent aussi être des soldats venant d’autres pays comme Thomas Brun, militaire français de 27 ans amputé lors de cette guerre, qui a participé aux Jeux Olympiques pour soldats blessés. Ces évènements leur permettent ainsi de les soutenir dans leur handicap et de ne pas les mettre en marge de la société.  </p>

	<p>De plus, le nombre de victimes ne s’arrête malheureusement pas à la fin des conflits. En effet, au Cambodge depuis déjà trois décennies, en Afghanistan et maintenant aussi en Irak, en Libye et en Syrie, les armes dispersées, les mines enfouies dans le sol, les sous-munitions et autres restes explosifs de guerre continueront encore longtemps à faire des victimes, civiles pour la plupart. Bien qu’une convention signée par 130 pays (puis 135 pays en 1999) ait été mise en place en 1997 pour interdire ces armes, en 1998, on dénombrait encore plus de 1200 accidents par les mines antipersonnel au Cambodge. Ces accidents provoquent de nombreux amputés dont la moitié des victimes seraient des enfants. Il resterait, en effet, dans ce pays, entre six et sept millions de mines non-explosées causant la mort d’environ 5000 personnes par an. Cependant, le nombre de victimes des mines a fortement diminué depuis l'entrée en vigueur du Traité d'Ottawa (Convention sur l'interdiction de l'emploi, du stockage, de la production et du transfert des mines antipersonnel et sur leur destruction). « On parlait à une époque d'une victime toutes les 20 minutes au moment de ce traité. Maintenant, on est à une victime toutes les deux heures. Donc, il y a quand même des progressions », souligne Jérôme Bobin, directeur général de Handicap international Canada. Des pays comme le Cambodge, le Laos ou la Colombie sont pollués par des mines antipersonnel enfouies là lors de conflits lointains. Mais c’est en Afghanistan que le bilan est le plus lourd, suivi de la Colombie. Des efforts de déminage réalisés dans ces pays sont néanmoins très importants malgré le manque de moyens financiers. En 2014, les démineurs ont nettoyé au moins 200 km2 de terres contaminées, et 230 000 mines antipersonnel ont ainsi été détruites. Dans le cadre de ce traité, les 162 États membres ont quant à eux éliminé jusqu'ici plus de 49 millions de mines antipersonnel qu'ils avaient en stock, dont 530 000 en 2014.Toutefois, le commerce des mines antipersonnel existe toujours, sous forme d'échanges clandestins illégaux. Aujourd'hui, une dizaine d'États fabriqueraient ces armes, dont la Russie, la Chine, la Corée du Sud, l'Inde, le Myanmar et le Pakistan. Des groupes armés en produisent aussi en Afghanistan, en Colombie, en Irak, au Myanmar, au Pakistan, en Syrie et en Tunisie. Ces groupes se spécialisent dans la fabrication d'engins explosifs improvisés, soit des bombes artisanales.</p>

	<p>De plus, certaines amputations peuvent être dues à des convictions religieuses. Encore aujourd’hui, la loi de l’islam prévoit des sanctions pénales qui varient selon les pays. Elles sont appliquées dans le cadre de délits en prévoyant l’amputation de la main des voleurs, et de un ou plusieurs membres des rebelles et des brigands.Enfin, il ne faut pas oublier de parler des erreurs médicales qui peuvent également être la cause d’amputations même si celles-ci sont relativement rares.</p>

	<p>Enfin, il ne faut pas oublier de parler des erreurs médicales qui peuvent également être la cause d’amputations même si celles-ci sont relativement rares.</p>

	<p>L’amputation peut donc avoir plusieurs origines, qu’elle soit pathologique ou bien traumatique comme les accidents et les guerres, ou bien encore volontaire pour des raisons religieuses. </p>

	<br>
	<div class="separator"></div>
	<h2>C - Opération chirurgicale et réadaptation</h2>
	<div class="separator"></div>
	<br>

	<p>Nous avons donc pu voir que l’amputation était parfois inévitable. Mais comment se déroule l’intervention et les soins après l’opération ?</p>

	<p>Tout d’abord, il faut rappeler que la prise en charge des patients est très différente selon les pays. En effet, l’accès aux soins est très inégalitaire, que ce soit à cause des inégalités de richesse ou encore des tensions géopolitiques.</p>

	<p>Dans un premier temps, nous allons nous intéresser au déroulement de l’intervention dans les pays développés comme la France. </p>

	<p>Aujourd’hui, le taux d’amputation, notamment en urgence, a diminué grâce aux progrès de la médecine. L’amputation n’est donc plus forcément une nécessité mais une solution apportée afin de permettre un meilleur résultat fonctionnel. Pour cela, une meilleure connaissance des progrès importants, réalisés récemment en matière de technologie prothétique, est indispensable à la prise de décision du chirurgien et à l’information du patient.</p>

	<h3>1/NIVEAUX D'AMPUTATION</h3>

	<p>En effet, un bon appareillage est tout d’abord dû à une bonne qualité du moignon. Le chirurgien doit donc veiller à garder le maximum de l’os et à bien l’arrondir mais à ne pas amputer trop bas car cela risque d’être incompatible avec l’appareillage. Le niveau d’amputation va dépendre de plusieurs éléments : de la qualité des artères car si le sang n’arrive pas correctement jusqu’au niveau d’amputation décidé, la cicatrisation ne se fera pas ; de la sévérité de l’infection et de l’importance de la destruction des tissus ; et enfin des besoins du patient, de son autonomie antérieure et de ses capacités ultérieures à utiliser une prothèse.</p>

	<div class="img"><img src="membresup.jpg" alt="Amputation membre supérieur" class="small"></div>
	<p class="source">Schéma des différents niveaux d’amputation du membre supérieur (ADEPA)</p>
	<br>
	<p>Bien que les amputations de membres supérieurs ne représentent que 15% des amputés, on estime leur nombre entre 8000 et 15000 en France. Le membre dominant est atteint dans la moitié des cas dans les amputations majeures (au-dessus du poignet) avec une répartition égale droite-gauche. Le siège de l’amputation intéresse essentiellement le bras et l’avant-bras.</p>

	<div class="img"><img src="membreinf.jpg" alt="Amputation membre inférieur" class="small"></div>
	<p class="source">Schéma des différents niveaux d’amputation du membre inférieur (ADEPA)</p>
	<br>
	<p>En ce qui concerne les amputations de membres inférieurs, qui représentent la majorité des amputés, on peut voir que les niveaux d’amputation sont très variés selon les étiologies.</p>

	<h3>2/ TECHNIQUE CHIRURGICALE</h3>

	<p>L’amputation est rarement pratiquée en urgence sauf en cas d’infection non contrôlable ou dans certains types de traumatisme.</p>

	<p>Dans le cas d’une amputation du membre inférieur, le patient, après avoir subi plusieurs examens (radiographies, bilans artériels et prises de sang), est placé sous anesthésie, puis le chirurgien garrote la racine du membre. Il va ensuite inciser à travers les tissus (peau, gras, muscle) pour « décoller deux hémi-valves », l’antérieure plus courte que la postérieure et ainsi former deux lambeaux de peau et de muscles qui seront ensuite recousus ensemble sur l’extrémité du moignon avec une cicatrice postérieure si possible (sur un ou plusieurs drains de Redon). Un matelas musculaire sera ainsi constitué sur l'extrémité si fragile.</p>

	<p>L’os, fémur ou tibia, est ensuite coupé à la scie «oscillante», à moins qu’il ne soit conservé et dans ce cas on opère une désarticulation au niveau de la cheville, du genou ou de la hanche. Ensuite, le péroné, s’il est encore utile, est coupé quelques centimètres plus haut puis est raboté ou râpé pour l’arrondir. Le chirurgien bouche le canal médullaire (contenant la moelle osseuse) et suture le périoste (membrane qui entoure l’os) sur l'extrémité osseuse. </p>

	<p>L’étape suivante est de trouver le nerf sciatique et de l’anesthésier avant de le sectionner haut et de l’enfouir entre les muscles afin d'éviter le développement ultérieur de névromes très douloureux. Les vaisseaux coupés sont ensuite suturés le plus bas possible puis on suture les groupes de muscles (internes, externes, antérieurs, postérieurs) sur l'os après les avoir noués entre eux deux par deux, en passant éventuellement les fils par des perforations faites dans le tibia. Les muscles trouvent un nouveau point d'accroche et des contractions antagonistes pourront être entretenues. La plupart du temps, la plaie du moignon sera fermée. Parfois, elle sera laissée ouverte notamment s’il y a une infection. Elle sera alors fermée secondairement lors d’une nouvelle intervention. </p>

	<h3>3/ LES SOINS APPORTES AU MOIGNON ET SES ÉTATS PATHOLOGIQUES</h3>

	<p>Les soins apportés au moignon sont très importants pour la future réadaptation et le futur appareillage. Dès la sortie du bloc, il faut songer aux pansements. S'il y a un drain, il est enlevé dans les jours suivants et l'ablation des fils se fait en général 15 à 21 jours plus tard.</p>

	<p>En attendant, il faut faciliter la cicatrisation et la résorption de l'œdème. Pour cela, une bonne position du moignon et des bandages sont nécessaires. Après cicatrisation, l’hygiène du moignon doit être quotidienne voire biquotidienne. L'autre pied est encore plus précieux et nécessite une surveillance adaptée et régulière, d’autant plus importante si vous avez une maladie diabétique ou artérielle. </p>

	<p>Le port de la prothèse est une nécessité vitale pour l’amputé et la première qualité d’un moignon est de permettre au patient une marche sans douleur. Mais un moignon parfait est rare, pour ne pas dire inexistant. Il subit sans cesse une évolution dans le temps. Les contraintes de l’appareillage, les irritations occasionnées par une activité physique accrue (professionnelle ou autre), peuvent rendre un moignon pathologique. </p>

	<p>Un moignon pathologique peut être défectueux en raison de l’étiologie ou des circonstances de l’amputation, d’une mauvaise confection chirurgicale ou de soins post-opératoires incorrects mais aussi douloureux avec l’existence de troubles trophiques ou encore de névromes d’amputation. Dans ce cas-là, des traitements existent pour atténuer ces douleurs.</p>

	<h3>4/DOULEURS LIEES A L'AMPUTATION</h3>

	<p>Nous pouvons observer deux types de douleurs : les douleurs au niveau du site opéré (douleur du moignon) qui répondent généralement bien aux antalgiques habituels et les douleurs fantômes (l’algohallucinose) générées par les nerfs qui ont été sectionnés (douleurs neurogènes). </p>

	<p>Les douleurs du membre fantôme se présentent comme des douleurs réelles qui sont projetées et ressenties dans le membre du corps absent. Elles sont ressenties par au moins les deux tiers des nouveaux amputés, et après un an près d’un tiers s’en plaint encore. Généralement, elles diminuent avec le temps, aussi bien en intensité qu’en fréquence. Il arrive très rarement qu’elles réapparaissent avec autant d’impact qu’au début. Il y a une très grande variabilité dans les douleurs du membre fantôme. Elles peuvent être très déplaisantes voire handicapantes pour certains amputés. Elles sont surtout complexes et parfois résistantes aux traitements antalgiques usuels.</p>

	<h3>5/ REEDUCATION ET PRISE EN CHARGE PSYCHOLOGIQUE</h3>

	<p>A chaque niveau d’amputation correspond un retentissement fonctionnel et psychologique différent. Pour cela, la rééducation doit être commencée le plus tôt possible après l’intervention. </p>

	<p>Elle comprend la récupération, par des soins locaux, de la force musculaire et de l’amplitude articulaire, pour permettre au membre lésé de supporter au mieux les contraintes de l’appareillage. La mobilisation est fréquente, au départ passive, puis de moins en moins assistée, jusqu’à l’obtention de mouvements actifs. Mais, elle comprend aussi la réadaptation qui vise essentiellement à prévenir les complications de l’alitement et à permettre au malade d’accomplir quelques gestes usuels comme l’adoption de la position assise lors des repas ou de la toilette, en fonction de la tolérance locale. Enfin, elle permet le réentraînement à l’effort, facilité et préparé par la réadaptation, qui permet à l’amputé de supporter le mieux possible l’effort de la répétition de ces gestes dans la vie de tous les jours. Des mouvements de gymnastique générale peuvent être commencés progressivement et avec prudence, lorsque le malade a récupéré des suites opératoires. Ces exercices se font sous contrôle cardiovasculaire et pulmonaire, fréquents et rigoureux. Cette rééducation va permettre de préparer au mieux l’appareillage futur de la personne et de l’aider à retrouver une certaine autonomie quand elle sera équipée de sa prothèse.</p>

	<p>La prise en charge psychologique est aussi nécessaire après une amputation car elle confronte la personne à un immense choc psychologique. En effet, la réaction à la perte d’une partie de soi se marque par une sorte de sentiment d’anéantissement.</p>

	<p>D’après le modèle de Kübler-Ross, la personne récemment amputée passe par 5 phases obligatoires de durées plus ou moins longues qui aboutissent ou non jusqu’à la phase d’acceptation. En effet, on retrouve d’abord le déni, puis l’agressivité et la révolte, le marchandage, la dépression et l’acceptation.</p>
	<br>
	<p>Dans les pays en développement, l’accès aux soins se fait plus difficilement. Le manque de moyens pour financer les hôpitaux, le matériel et le personnel a des conséquences sur la prise en charge des patients et sur l’efficacité des interventions.</p>

	<p>D’après une étude faite au Nigéria, plus précisément dans l’Hôpital Orthopédique de Lagos en 1996, nous pouvons voir que sur 87 malades ayant subi une amputation, les causes traumatiques dont les accidents de la route étaient les plus fréquentes (34/87) alors que les causes de maladies vasculaires étaient plus rares (2/87). On observe donc des proportions inverses avec des pays plus riches comme le Royaume-Uni.</p>

	<p>L’étude a montré que, contrairement aux pays développés, l’amputation était encore réalisée comme une procédure de sauvetage dans la plupart des cas (44/87). En effet, le manque d’outils spécialisés comme le doppler, l’artériographie et le scanner était responsable d’un retard dans le traitement définitif dans 28 cas.</p>

	<p>De plus, l’étude a mis en évidence que l’insuffisance des possibilités d’appareillages et l’absence d’une clinique de l’amputé étaient des éléments nuisibles. La possession d’outils diagnostiques spécialisés et d’installations pour la chirurgie micro vasculaire changerait considérablement l’image sombre de l’amputation dans un pays en voie de développement comme le Nigeria.</p>

	<p>Les inégalités de richesse ont donc des conséquences sur les causes et sur la prise en charge des patients concernant les amputations mais aussi sur l’appareillage comme nous le verrons dans un second temps.</p>

	<p></p>

	<br>
	<div class="separator large"></div>
	<br>
</div>

<div class="pager">
	<a class="next" href="/evolution"></a>
	<% if (page > 1) %>
		<a class="previous" href="/intro"></a>
	<% end %>
</div>