<%= page = 5 %>

<div class='header'>
	<h1>TPE</h1>
</div>

<div class="body">
	<div class="separator"></div>
	<h2>Conclusion</h2>
	<div class="separator"></div>
	<p>

	Les prothèses sont donc nécessaires après avoir subi une amputation, qu’elle soit d’origine pathologique ou traumatique, pour se réadapter à une vie sociale et professionnelle. Il existe des prothèses très avancées qui permettent un niveau de confort élevé. Cependant, les inégalités de richesse entre les pays rendent l’accès à ces prothèses très restreint. En effet, la plupart des amputés vivent dans des pays en développement et n’ont donc accès qu’à des prothèses rudimentaires. 
	</p><p>	
	De nombreuses initiatives ont pour but d’utiliser les nouvelles technologies pour réduire les inégalités liées à l’accès aux prothèses dans le monde. <br>
	On peut donc imaginer un futur où ces technologies, comme l’impression 3D, deviennent accessibles à une grande majorité de la population, même dans les pays les plus pauvres, et permettent à de nombreux amputés de s’équiper de prothèses. Cependant, les initiatives comme le Victoria Hand Project sont encore réduites et à petite échelle. 95% des amputés dans le monde n’ont toujours pas accès aux soins nécessaires. Bien que ces initiatives aient un grand impact à une petite échelle, il se peut que ces efforts soient insoutenables à une échelle mondiale dû notamment aux coût des ressources humaines et matérielles nécessaires pour les poursuivre.
	</p>
	<p>
	Les prothèses d’aujourd’hui ont pour but de remplacer des membres perdus et ne reproduisent que leur fonctions essentielles. On peut se demander si les prothèses de demain pourront non seulement reproduire toutes les capacités des membres originels mais aussi les augmenter. C’est en effet ce qu’explore le mouvement transhumaniste.
	</p>
	<br>
	<div class="separator large"></div>
	<br>
</div>

<div class="pager">
	<% if (page < 10) %>
		<a class="next" href="/lexique"></a>
	<% end %>
	<% if (page > 1) %>
		<a class="previous" href="/inegalites"></a>
	<% end %>
</div>