<%= page = 4 %>

<div class='header'>
	<h1>Des inégalités socio-économiques</h1>
</div>

<div class="body">
	<p>
	Cependant, l’accès aux prothèses est encore difficile dans le monde. En effet, les inégalités des richesses ont des conséquences sur l’accès aux soins, notamment aux amputations ainsi qu’aux prothèses.
	</p>

	<br>
	<div class="separator"></div>
	<h2>A - Inégalités de richesse</h2>
	<div class="separator"></div>
	<br>

	<p>
	L’Europe et les États Unis, avec moins de 20% de la population mondiale, rassemblent près de 70% de la fortune mondiale. Telles sont les inégalités de nos jours. Cette accumulation de la fortune dans les pays les plus développés, bien que toujours présente,  s’est amplifiée avec la révolution industrielle. Alors qu’en 1820, les pays les plus riches étaient près de trois fois plus riches que les plus pauvres, aujourd’hui ce facteur est de cent. Les inégalités entre pays sont le fruit de différents facteurs comme les conflits (guerre, guerre civile), des régimes politiques totalitaires (dictatures) ou bien tout simplement la situation géographique de certains pays (manque de matières premières, d’accès à la mer).
	</p>
	<p>	
	Afin de mieux comprendre la nature de ces inégalités, comparons  
	deux pays aux situations socio-économiques différentes : la France, et l’Afghanistan.
	</p>
	<div class="img table">
		<table>
			<tr>
				<td></td>
				<td>France</td>
				<td>Afghanistan</td>
			</tr>
			<tr>
				<td>Conflits</td>
				<td>Guerre du Mali,
Guerre contre l’État islamique</td>
				<td>Guerre d’Afghanistan (guerre civile)</td>
			</tr>
			<tr>
				<td>Régime politique</td>
				<td>République démocratique</td>
				<td>République islamique</td>
			</tr>
			<tr>
				<td>Situation géographique</td>
				<td>Europe, accès à l’Atlantique et la Méditerranée</td>
				<td>Asie, pas d’accès direct à la mer</td>
			</tr>
			<tr>
				<td>PIB par habitant</td>
				<td>23 614 USD</td>
				<td>2 000 USD</td>
			</tr>
		</table>
	</div>
	<p>On voit donc que, alors que la France ne participe qu’à des guerres à l’extérieur du pays, l’Afghanistan est un pays en conflit, en effet la guerre d’Afghanistan se déroule sur le territoire afghan. De plus, le pays n’est pas une démocratie et a une situation géographique défavorable : ces facteurs permettent de comprendre la différence de PIB par habitant entre les deux pays.</p>
	<p>Ces inégalités ont des effets considérables sur les conditions de vie des différents pays. En effet, alors qu’en France, le taux de scolarisation en école primaire est de 99,3%, en Afghanistan il n’est que de 57,1%. En école secondaire il n’est que de 37.6% en Afghanistan contre 96.5% en France. De plus, la population afghane connaît une forte inégalité dans l’implication au travail des différents sexes. En Afghanistan, alors que 81,6% des hommes font partie de la force de travail, 71,7% des femmes n’ont pas de travail. Le taux de chômage s'élevait à 24% en 2014. En France, ce dernier est d’environ 10%. Près de 68% des femmes et 76% des hommes font partie de la population active française. La santé est aussi affectée par ces inégalités. En Afghanistan, environ 6 million de personnes, soit près d’un quart de la population, n’ont pas un apport alimentaire suffisant. Plus de 30% de la population n’a pas accès à des sources d’eau potable améliorées contre 1% en France.</p> 
	<p>Cet écart des conditions de vie entraîne une différence importante dans l’espérance de vie des deux pays: en France, on peut espérer vivre plus de 80 ans alors qu’en Afghanistan on meurt, en moyenne, 20 ans plus tôt, à 60 ans.</p>

	<p>Néanmoins, au sein d’un pays développé, les richesses ne sont pas non plus réparties d’une façon égalitaire. Cette inégalité peut être en partie expliquée par des qualifications de plus en plus poussées nécessaires à obtenir un emploi stable, une compétition à l’échelle mondiale qui pousse les entreprises à mécaniser de plus en plus les tâches, à délocaliser, et donc entraîne un chômage omniprésent.</p> 
	<p>Aux États Unis, par exemple, dix pourcent des ménages les plus riches perçoivent, en moyenne, un revenu neuf fois plus élevé que le reste des ménages (295 845$ contre 33 068$).</p> 
	<p>Ces inégalités au sein d’un même pays ont des conséquences sur les conditions de vie des plus pauvres. Bien que les infrastructures (notamment les hôpitaux et les cliniques) soient plus développées que dans des pays en développement, leur accès reste difficile pour les plus démunis. Les prothèses par exemple y sont bien plus développées mais leur coût fait que leur accès soit plus réduit.</p>

	<br>
	<div class="separator"></div>
	<h2>B - Conséquences de ces inégalités sur l’accès aux soins</h2>
	<div class="separator"></div>
	<br>

	<p>Dans les pays en développement, ces inégalités de distribution se ressentent dans un manque d'infrastructures (matériel peu propre voire absent, hôpitaux rudimentaires, coupures de courant fréquentes) et un manque de matières premières pour fabriquer les prothèses. En Inde, par exemple, l’Organisation Mondiale de la Santé (OMS ou WHO en anglais) estime que près de 300 000 personnes meurent tous les ans à cause de la réutilisation de seringues infectées. 
	</p>
	<p>
	Au Cambodge, en Iran, en Afghanistan, un grand nombre de prothèses sont faites à partir de branches ou de bambou car les autres matériaux manquent ou bien sont trop chers. Il arrive même que certains patients décèdent alors qu’ils auraient pu survivre s’ils avaient été amputés, ou bien qu’ils décèdent peu après l’intervention dû à la précarité de l’opération. 
	</p>
	<p>
	Au Nigeria une étude a suivi des patients devant être amputés, 6% d’entre eux sont décédés peu après l’opération, et, parmi ceux qui ont survécu, 65% n’ont pas pu s’équiper de prothèses avancées : ils utilisent donc des béquilles par exemple. Ce dernier point est un problème important dans les pays en développement : beaucoup d’amputés n’ont pas les moyens de s’équiper de prothèses. Le prix d’une prothèse dans le monde en développement varie entre 120 et 1800 euros. Cependant, ces prothèses ne sont pas aussi résistantes que celles produites dans les pays développés (qui coûtent cependant entre 480 et 14 500 euros) et il faut donc les remplacer plus souvent, le prix total dépensée en prothèses peut donc s’élever à plusieurs milliers d’euros. Ceci pose problème puisque le revenu moyen d’une famille rurale dans le monde n’est que de 300 euros par an. On a alors recours à des béquilles en bois ou en plastique qui ne remplacent pas la fonction du membre amputé mais permettent de se déplacer lorsqu’on a perdu un membre inférieur.</p>

	<p>On retrouve le même problème dans les pays développés : le prix d’une prothèse est parfois très élevé et une personne amputée n’a pas les moyens de s’en équiper. En effet, si le salaire médian français s’élève à près de 1 700 euros par mois, un amputé changera sa prothèse entre 15 et 25 fois en moyenne. Une seule prothèse peut représenter entre 30 et 850% de ce salaire mensuel, d’où on voit apparaître à nouveau un problème économique.</p>
	
	<br>
	<div class="separator"></div>
	<h2>C - Perspectives futures</h2>
	<div class="separator"></div>
	<br>

	<p>Cependant, on commence à se tourner vers les nouvelles technologies afin de résoudre ce problème. Un français, Nicolas Huchet, a en effet construit une prothèse de main trente trois fois moins cher qu’une prothèse normale à l’aide de l’impression en 3D. L’impression en 3D permet de réduire le coût et le temps de fabrication d’une prothèse ce qui facilite non seulement l’accès aux prothèses dans les pays développés mais elle permet aussi à des groupes de volontaires de proposer l’installation de prothèses dans de nombreux villages démunis sans pour autant devoir y passer des semaines. C’est dans ce but que s’est développé le Victoria Hand Project (VHP). Il s’agit d’une équipe d’ingénieurs qui s’est proposé le but d’aider des personnes amputées dans les pays en développement à s’équiper de prothèses des membres supérieurs. Ils utilisent pour cela l’impression 3D, qui leur permet de fabriquer des prothèses fonctionnelles à une fraction du prix de celles fabriquées traditionnellement. De plus, cette méthode de fabrication laisse place à une grande mobilité : le groupe du VHP peut facilement se déplacer pour apporter de l’aide sur place. On peut voir ci-dessous le groupe en déplacement au Népal. </p>
	
	<div class="img">
		<img src="vhp_nepal.jpg" alt="Victoria Hand Project au Nepal">
	</div>
	<p class="source"> Le groupe du VHP au Népal (Victoria Hand Project) </p>

	<p>Cette technologie, l’impression 3D, aide non seulement à réduire les inégalités à l’accès aux prothèses entre pays développés et en développement mais aussi au sein d’un même pays développé. En effet, elle permet de réduire le prix des prothèses les plus avancées de plusieurs dizaines de milliers d’euros à moins de mille euros. MyHumanKit, un projet français, a pour but de faciliter l’accès à des prothèses bioniques (contrôlables grâce à des capteurs musculaires) en construisant une communauté qui collabore pour fabriquer des prothèses à bas prix. D’autres projets ont un but similaire dans d’autres pays : dans les Etats-Unis, par exemple, OpenBionics permet aux amputés de facilement imprimer leurs nouvelles mains bioniques. Le prix d’une prothèse dans un pays développé peut être donc estimé à la somme nécessaire pour se procurer une imprimante 3D (ou juste son utilisation), somme considérablement plus petite que celle qui devrait être déboursée pour acquérir une prothèse bionique fabriquée traditionnellement. </p>
	
	<div class="img">
		<img src="3d_hand.jpg" alt="Main imprimée en 3D">
	</div>
	<p class="source">Main bionique imprimée en 3d (Daily Mail)<br> </p> 

	<p>Les nouvelles technologies sont en train rendre les prothèses de plus en plus accessibles. Les prothèses, des plus simples aux plus avancées, deviennent plus faciles et moins chères à fabriquer. Ces nouvelles méthodes, encore à leurs débuts, semblent donc pouvoir nous permettre de faire un pas vers des prothèses accessibles à tous.</p>

	
	<br>
	<div class="separator large"></div>
	<br>
</div>

<div class="pager">
	<a class="next" href="/conclusion"></a>
	<% if (page > 1) %>
		<a class="previous" href="/evolution"></a>
	<% end %>
</div>